@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #69974e;
  --color-primary-dark: #4a7c3a;
  --color-background-light: #f7f7f6;
  --color-background-dark: #181c16;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.curved-bottom {
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
